# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Input files
input/*
!input/.gitkeep

# Output files
output/*
!output/.gitkeep

# Log files
logs/*
!logs/.gitkeep

# Build
browser/
build/
dist/
*.spec

# VS Code
.vscode/settings.json